<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--if you want the stuff to work make sure to make bean out of it-->
    <bean class="people.InjectRandomIntBeanPostProcessor"/>

    <bean id="person1" class="people.Person">
        <property name="name" value="Peter"/>
    </bean>

</beans>
